html { overflow: hidden; }
body {
  margin:0;
  font-family: 'Roboto';
}
.page-cont {
  background-image:linear-gradient(-45deg, #EE7752, #E73C7E,#23A6D5,#23D5AB);
  background-size: 400%,400%;
  margin:0;
  padding: 0;
  animation:bg-change 20s ease-in-out infinite;
  height:100vh;
}
/* IMPORTANT */
.login-cont {
  display:none;
  position: relative;
  width:100%;
  height:100vh;
  animation: fadeIn 1s ease-in-out 1;
}
/* IMPORTANT */
.signup-cont {
  display:none;
  position: relative;
  width:100%;
  height:100vh;
  animation: fadeIn 1s ease-in-out 1;
  text-align: center;
  margin:0;
  padding: 0;
}
.signup-cont h1 {
  display:block;
  position: absolute;
  color:white;
  font-family: 'Roboto';
  font-size:29px;
  margin: 0;
  padding: 0;
  left:50%;
  top:18%;
  transform:translate(-50%,20%);
}
.login-form #i-agree {
  position: absolute;
  font-family: 'Roboto';
  font-size:18px;
  color:white;
  width:25px;
  height:25px;
  cursor: pointer;
  left:0;
  margin:0;
  padding: 0;
}
.login-form label {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-size:18px;
  color:white;
  position: relative;
  left:10px;
}
#site-title {
  display:block;
  margin: auto;
  padding: 0;
  color: white;
  font-size:3.5vw;
  font-family: 'Roboto';
  width:30%;
  transform:translateY(50%);
  text-align: center;
  border-style: solid;
  border-color: white;
  border-width: thin;
  animation: fadeIn 1s ease-in-out 1;
}
#site-title-badge {
  display:none;
  margin:auto;
  padding: 0;
  color:white;
  font-size:60px;
  font-family: 'Roboto';
  width:94px;
  height:80px;
  transform: translateY(50%);
  text-align: center;
  border-style: solid;
  border-color:white;
  border-width:thin;
  letter-spacing: -4px;
  animation: fadeIn 1s ease-in-out 1;
}
#tagline {
  margin:auto;
  padding: 0;
  color:white;
  font-size:32px;
  width:50%;
  font-family: 'Roboto';
  text-align: center;
  letter-spacing: -2px;
  animation: fadeIn 1s ease-in-out 1;
  transform:translateY(200px);
}
.login-form {
  position: absolute;
  left:50%;
  top:30%;
  transform:translate(-50%,0);
  animation: fadeIn 1s ease-in-out 1;
}
.login-form input {
  font-family: 'Roboto';
  font-size:22px;
  width:300px;
  height:60px;
  text-align: center;
  border-style:none;
}

#submit-btn {
  background-color:rgb(198, 198, 198);
  transition: all 0.4s ease;
  border-color:white;
  border-style:solid;
  width:50%;
  height:44px;
  float:none;
  font-family: 'Roboto';
  font-size:20px;
}
#submit-btn:hover {
  background-color:#d2feff;
  cursor: pointer;
  width:52%;
}
#val-btn {
  position: absolute;
  left:10%;
}


footer {
  display:inline;
  position: fixed;
  font-family: 'Roboto';
  color:white;
  padding: 0;
  margin: 0;
  bottom: 0;
  left:50%;
  transform:translateX(-50%);
}




@keyframes bg-change {
  0% { background-position: 0 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0 50%; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}



@media screen and (min-width: 769px) {
  #site-title { display:block; }
  #site-title-badge { display:none; }
}
@media screen and (max-width:768px) {
  #site-title { display:none; }
  #site-title-badge { display:block; }
}
